//---------- ELEMENTS ----------
$backgroundColor: #16161a;
$headlineColor: #fffffe;
$paragraphColor: #94a1b2;
$buttonColor: #7f5af0;
$buttonText: #fffffe;

//---------- ILLUSTRATION ----------
$strokeColor: #010101;
$mainColor: #fffffe;
$highlightColor: #7f5af0;
$secondaryColor: #72757e;
$tertiaryColor: #ff8906;

//---------- MODIFIERS ----------
$buttonColor-80: #7f5af080;
