@import '../Variables/Variables.scss';

.landingPage {
  height: 100vh;
  display: grid;
  place-items: center;
}

.landingContainer {
  display: grid;
  place-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.landingPage h1 {
  color: $headlineColor;
  font-weight: 300;
}

.landingPage h2 {
  color: $headlineColor;
}

.landingPage {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gamerLandingPage {
  font-weight: 800;
}
