@import '../Variables/Variables.scss';

.VideogameDetail {
  margin: 5rem;

  .calification {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;

    svg {
      margin-left: 0.5rem;
    }
  }
}

.VideogameDetail img {
  width: 60%;
  border-radius: 10px;
}
